Bottles
Castle.Core
DotNetZip
FubuCore
FubuLocalization
FubuMVC.Core
FubuMVC.Core.Assets
FubuMVC.Core.UI
FubuMVC.Core.View
FubuMVC.JQueryUI
FubuMVC.Katana
FubuMVC.SelfHost
FubuMVC.StructureMap
HtmlTags
Microsoft.AspNet.WebApi.Client
Microsoft.AspNet.WebApi.Core
Microsoft.AspNet.WebApi.SelfHost
Microsoft.Bcl
Microsoft.Net.Http
Newtonsoft.Json
Selenium.RC
Selenium.Support
Selenium.WebDriver
Selenium.WebDriverBackedSelenium
Serenity
Storyteller2
structuremap
